/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0;
    width: 100vw;
    
    height: calc(100% - 70px);
    background: url("../src/assets/jeep-white.jpg");
    background-size: cover;
}
p{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.3rem;
    color:rgb(0, 0, 0);
}