<div class="text">
<h1>
    {{ shopName }} in Langdon
</h1>
<p>
    For the best value auto repair in Langdon; whether you’re due for a basic oil change, an alignment, or simply need a second opinion come to {{ shopName }}.
</p>
<br>
<p>
    Find out why we’re the Go To auto repair shop in Langdon when it comes to customer value on your dollar.  Our Licensed Technicians and Red Seal Mechanics have the expertise and experience to perform the full array of repairs and services.
</p>
<p>
    {{ shopName }} takes pride in delivering the highest standard service to our customers and have been doing so for fifteen years and counting.
</p>
</div>