.text{
    color: rgba(0, 0, 0, 0.805);
}
p{
    text-align: center;
}
h1{
    color: #e6673e;
    text-align: center;
    font-family: "Lucida Console";
    padding-bottom: 15px;
    border-bottom: 1px dotted rgb(7, 0, 0);
}
